body{
    background-color: #fff;
}

.logo {
    position: absolute;
    font-family: "bookman-jf-pro", serif;
    top: 10px;
    left: 140px;
    font-size: 2.4rem;
}

.navigation {
    position: absolute;
    font-family: "bookman-jf-pro", serif;
    top: 55px;
    right: 180px;
}

li {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
}

#text{
    position: absolute;
    font-size: 30px;
    font-family: "bookman-jf-pro", serif;
    left: 150px;
    top: 100px;
}

.grid-container{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 110px;
    grid-row-gap: 50px;
    left: 130px;
    top: 80px;
    padding: 15px;
}

.grid-container div{
    background-color:ghostwhite;
    text-align: center;
    left: 130px;
    padding: 10px 10px;
}

section{
    display: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: "Helvetica Neue", "aktiv-grotesk", sans-serif;
}

.item1{
    max-width: 100%;
    height: auto;
    grid-row-start: 4;
    grid-column-end: 2;
}

.item2{
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-row-end: 6;
}

.item3{
    max-width: 100%;
    height: auto;
    grid-row-start: 3;
    grid-column-end: 2;
}

.item4{
    max-width: 100%;
    height: auto;
    grid-row-start: 5;
    grid-row-end: 6;
}

.item5{
    max-width: 100%;
    height: auto;
    grid-row-start: 2;
    grid-column-end: 2;
}

.item6{
    max-width: 100%;
    height: auto;
    grid-row-start: 2;
    grid-column-end: 3;
}

.item7{
    max-width: 100%;
    height: auto;
    grid-row-start: 3;
    grid-column-end: 3;
}

.item8{
    max-width: 100%;
    height: auto;
    grid-row-start: 2;
    grid-column-end: 4;
}

.item9{
    max-width: 100%;
    height: auto;
    grid-row-start: 4;
    grid-column-end: 4;
}

.item10{
    max-width: 100%;
    height: auto;
    grid-row-start: 3;
    grid-column-end: 4;
}

.item11{
    max-width: 100%;
    height: auto;
    grid-row-start: 4;
    grid-column-end: 3;
}
